ac-*
elpa/
*.desktop
smex-items
.*
extern/
/extern/scim-bridge-el-0.8.2/debian/changelog
/extern/scim-bridge-el-0.8.2/debian/README.Debian
/extern/scim-bridge-el-0.8.2/debian/compat
/extern/scim-bridge-el-0.8.2/debian/control
/extern/scim-bridge-el-0.8.2/debian/copyright
/extern/scim-bridge-el-0.8.2/debian/dirs
/extern/scim-bridge-el-0.8.2/debian/docs
/extern/scim-bridge-el-0.8.2/debian/emacsen-install
/extern/scim-bridge-el-0.8.2/debian/emacsen-remove
/extern/scim-bridge-el-0.8.2/debian/emacsen-startup
/extern/scim-bridge-el-0.8.2/debian/rules
/extern/scim-bridge-el-0.8.2/debian/source/format
/extern/scim-bridge-el-0.8.2/doc/COPYING
/extern/scim-bridge-el-0.8.2/doc/ChangeLog
/extern/scim-bridge-el-0.8.2/doc/l10n-dev/ChangeLog
/extern/scim-bridge-el-0.8.2/doc/l10n-dev/l10n-HowTo
/extern/scim-bridge-el-0.8.2/doc/l10n-dev/scim-bridge-XX.el
/extern/scim-bridge-el-0.8.2/doc/l10n-dev/scim-bridge-en.el
/extern/scim-bridge-el-0.8.2/l10n/scim-bridge-ja.el
/extern/scim-bridge-el-0.8.2/l10n/scim-bridge-zh-si.el
/extern/scim-bridge-el-0.8.2/l10n/scim-bridge-zh-tr.el
/extern/scim-bridge-el-0.8.2/scim-bridge.el
